body {
    margin: 0;
}

.row {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.column_1 {
    flex: 30%;
    width: 30%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    background-color: black;
}

.column_2 {
    flex: 30%;
    width: 30%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    background-color: rgb(214, 177, 109);
}

.column_3 {
    flex: 30%;
    width: 30%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    background-color: rgba(193, 202, 71, 0.74);
}

.column_1 p {
    color: white;
}

.column_2 p {
    color: black;
}

.column_3 p {
    color: black
}

.heading {
    position: absolute;
    top: -20;
    right: 0;
    box-sizing: border-box;
    background-color: rgba(255, 136, 0, 0.753);
    padding: 3px 10px;
    margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
    .column_1 {
        flex: 100%;
        width: 100%;
    }
    .column_2 {
        flex: 100%;
        width: 100%;
    }
    .column_3 {
        flex: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .column_1 .column_2 {
        flex: 50%;
        width: 50%;
    }
    .column_3 {
        flex: 100%;
        width: 100%;
    }
}
